{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>To-do list</title>
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  <script src="{% static 'website/js/script.js' %}" defer></script>
</head>
<body>
<div class="container">
    <div class="todo-list">
        <h1>To-do list</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="name" placeholder="Add a new task" required>
                <button type="submit">+</button>
            </div>
        </form>


        <ul>
            {% for task in tasks %}
                <li>
                    <input type="checkbox" class="checkbox" {% if task.status %}checked{% endif %} data-id="{{task.id}}">
                    <span class="task {% if task.status %}completed{% endif %}">{{ task.task_name }}</span>
                        
                  <!--  <form method='post' action="{% url 'not_complete' task.id %}" >
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form> 
                    -->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>    