{% extends "website/base.html" %}
{% load static %}
{%block title%}To-do list{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{%block extra_js%}
    <script src="{% static 'website/js/script.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %} 
{%block content%}
<div class="container">
    <div class="todo-list">
        <h1>To-do list</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="name" placeholder="Add a new task" required>
                <input type="text" id="chooseDate" name="deadline" placeholder="Выберите дату" style="display: none;">
                <button type="button" class="calendar" id="calendarBtn"><i class="fas fa-calendar-alt"></i></button>
                <button type="submit">+</button>
                
            </div>
        </form>


        <ul>
            {% for task in tasks %}
                <li>
                    <div class="task-item">
                        <div class="task-main-row">
                            <div class="task-info">
                                <input type="checkbox" class="checkbox" {% if task.status %}checked{% endif %} data-id="{{task.id}}">
                                <span class="task {% if task.status %}completed{% endif %}">{{ task.task_name }}</span>
                            </div>

                            <div class="auxiliary-buttons">
                                <button type="button" class="timer" data-id="{{task.id}}"><i class="fas fa-clock"></i></button>
                                <button type="button" class="delete" data-id="{{task.id}}"><i class="fas fa-trash-alt"></i></button>
                                <button type="button" class="edit" data-id="{{task.id}}"><i class="fas fa-pen"></i></button>
                            </div>
                        </div>
                    <div class="task-time" id="time-{{task.id}}">
                        <span>
                            {% if task.spent_time > 0 %}
                                {{ task.get_time }}
                            {% endif %}
                        </span>
                    <div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="timerModal" class="modal-overlay">
    <div class="modal-contain">
        <div class="modal-header">
            <h3>Таймер</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="timer" id="modalTimer">00:00:00</div>
            <div class="input">
                <input type="number" id = "hours" min="0" value="0">
                <input type="number" id ="minutes" min="0" value="0">
                <input type="number" id = "seconds" min="0" max="59" value="0">
            </div>
            <div class="timer-buttons">
                <button class = "starttimer">
                    <i class="fas fa-play-circle"></i>
                </button>
                <button class = "pausetimer">
                    <i class="fas fa-pause-circle"></i>
                </button>
                <button class = "endtimer">
                    <i class="fas fa-stop-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}